html {
  box-sizing: border-box;
}

body {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
  font-size: 14px;
}
html, body, #root {
  // min-height: 100vh;
  height: auto;
}

#nprogress {
  .bar {
    z-index: 9999;
    background-color: @primary-color;
  }
  .spinner .spinner-icon {
    border-top-color: @primary-color;
    border-left-color: @primary-color;
  }
}