.fade-enter {
  opacity: 0;
  transform: translateX(-20px);
}

.fade-enter-active,
.fade-exit-active {
  opacity: 1;
  transition: all .3s ease-in-out;
  transform: translateX(0);
}

.fade-exit {
  opacity: 0;
  transform: translateX(20px);
}

/* breadcrumb transition */
.breadcrumb-enter-active,
.breadcrumb-exit-active {
  transition: all 0.5s;
}
.breadcrumb-enter,
.breadcrumb-exit-active {
  opacity: 0;
  transform: translateX(20px);
}
.breadcrumb-move {
  transition: all 0.5s;
}
.breadcrumb-exit-active {
  position: absolute;
}
